.header_logo {
    width: 100%;
    height: 13vh;
    background-color: #912424;
    color: #fff;
    position: relative;
    font-size: 75px;
    padding-left: 10px;
    font-weight: lighter;
    font-family: 'Imperial Script';
}

.footer{
    width: 100%;
    height: 10vh; 
    position: relative;
    text-align: end;
    bottom: 0;
    padding-right: 15px;
    padding-top: 10px;
    background-color: #912424;
    font-family: 'Imperial Script';
    font-size: 30px;
    color: #fff;
}

.NavBar{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    line-height: 2rem;
    width: 17%;
    height: auto;
    min-height: 77vh;
    color: #fff;
    background-color: #912424;
}

.NavBar a {
    text-decoration: none;
    position: relative;
    display: block;
    line-height: 2;
    padding: 15px 10px;
    color: #fff;
}

.NavBar a:focus, .NavBar a:hover{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 0 5px #ac1a1a; 
    border-radius: 10px;
    transform: skew(-10deg);
}

.tabela {
    width: 55vw;
    height: 60vh;
    text-align: center;
}

th {
    height: 5em;
    border: 1px solid black;
}

td {
    height: 2.5em;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}


.establishmentCard{
    display: flex;
    border-radius: 5px;
    width: 70vw;
    height:15vw;
    box-shadow: 2px 2px 6px #912424;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    
}

.establishmentCard img {
    
    width: 300px;
    height: 150px;
    border-radius: 10px;
}

    .establishmentData{
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
      
    }

    .establishmentData button {
        
            background-color: #912424;
            border-radius: 15px;
            border-style: none;
            margin-top: 20px;
            width: 200px;
            height: 55px;
            color: #fff;
            margin-bottom: 15px;
        }
        
        .establishmentData button:hover , .establishmentData button:focus{
            color:#fff ;
            border-color: #000000;
            box-shadow: 2px 2px 6px #912424;
            margin-bottom: 20px;
            
        }

        .establishmentData a {
            text-decoration: none;
            position: relative;
            display: block;
            line-height: 2;
            padding: 15px 10px;
            color: #fff;

        }
