@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

header {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    background-color: #912424;
    color: #fff;
    box-sizing: border-box;
}

input{
    border-radius: 10px;
    font-weight: bold;
    width: 125px;
}

button{
    background-color: #912424;
    cursor: pointer;
    color: #fff;
    border: none;
    width: 75px;
    height: 5vh;
    border-radius: 10px;
}
 
main{
    display: flex;
    height: 100vh;
    width: 100%;
}

ul{
    list-style: none;
}

a{
    position: relative;
    display: block;
    padding: 25px 10px;
    color: #fff;
    text-decoration: none;
}

select{
    width: 300px;
}

form{
    border-radius: 10px;
}

footer{
    position: absolute;
    text-align: end;
    padding: 0 10px;
    width: 100%;
    height: 10vh;
    background-color: #912424;
    color: #fff; 
    box-sizing: border-box;
}

a:focus, a:hover{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 0 5px #ac1a1a; 
    border-radius: 10px;
    transform: skew(-10deg);
}

.logo {
    font-size: 75px;
    padding: 3px;
    font-family: 'Imperial Script';
}

.barraLateral{
    display: flex;
    flex-direction: column;
    background-color: #912424;
    align-items: center;
    color: #fff;
    width: 17%;
    padding: 10px 10px;
}

.service-container{
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}

.column-form{
    display: flex;
    flex-direction: column;
}

.form-group{
    font-size: 15px;
    display: flex;    
    flex-direction: column;
    padding: 1% 0 0 3%;
}

#tempo-servico{
    display: flex;
    width: 400px;
}

.open:hover,
.open:focus {
    background: #1ed93d;
    transition: background 1s;
}

.close:hover,
.close:focus {
    background: #0b6ddd;
    transition: background 1s;
}

button:active, button:hover{
    position: relative;
    bottom: 5px;
}

.prop-btn{
    padding-left: 10px;
}

.confirmBTN{
    width: 200px;
}

.Slogan{
    font-family: 'Imperial Script';
    font-size: 30px;
}