.btn_close{
    background-color: transparent;
    border-style: none;
    margin-top: 20px;
    width: 200px;
    height: 50px;
}

.btn_close:hover , .btn_close:focus{
    color: #ffffff;
    background-color: #2483db;
    border: none;
}