[core]
	editor = \"C:\\Users\\Igreja da Noite\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[usar]
	email = ferreira.allysson@outlook.com.br
	name = AllyssonLFerreira
[user]
	name = AllyssonLFerreira
	email = ferreira.allysson@outlook.com.br\n\ngit config --global user.email ferreira.allysson@outlook.com.br
