.botaoCadastro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
}

button.inscreva {
    background-color: #a6a2a2;
    width: 7em;
}

button.inscreva:hover {
  background-color: #fff;
  color: rgb(39, 39, 39);
  border: 1px solid #a6a2a2;
  box-shadow: -4px 4px 10px grey;
}