@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@100&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

button {
  cursor: pointer;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  border-radius: 7px;
  font-size: 20px;
}

input::placeholder{
  color: #4e4c4c
}

input{
  border-radius: 3px;    
}

label {
  margin-bottom: 0.2em;
  color: #666;
  display: block;
}

.field_prop {
  margin-left: 2em;
  float:  left;
  margin-right: 1em;
}

.field_prop input[type="text"],
.field_prop input[type="email"],
.field_prop input[type="number"],
.field_prop input[type="tel"],
.field_prop input[type="password"],
.field_prop input[type="date"],
.field_prop select,
.field_prop textarea {
  padding: 0.2em;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;
}

.field_prop select option {
  padding-right: 1em;
}

.field_prop input:focus, 
.field_prop select:focus, 
.field_prop textarea:focus {
  background: #efefef;
}