@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100%;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #912424;
}

.logo p a{
  text-decoration: none;
  font-weight: bold;
  font-family: 'Imperial Script', cursive;
  letter-spacing: 5px;
  font-size: 60px;
  color: #fff;
  background-color: #912424;
  padding: 5px;
  border-radius: 20px;
}

.menu span a {
  padding: 5px 20px;
  margin: 0px 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  background-color: #912424;
  border-radius: 10px;
}

.menu span a:hover{
  background-color: #fff;
  color: rgb(39, 39, 39);
}

.login {
  color: #fff;
  font-size: 20px;
}

footer {
    /*width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: #912424;*/
    position: absolute;
    text-align: end;
    padding: 0 10px;
    height: 10vh;
    background-color: #912424;
    color: #fff; 
    box-sizing: border-box;
    width: 100%;
}

.slogan {
    float: right
}










