@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  background-color: #912424;
  color: #fff;
  box-sizing: border-box;
}

.logo p a{
  text-decoration: none;
  font-weight: bold;
  font-family: 'Imperial Script', sans-serif;
  letter-spacing: 5px;
  font-size:60px;
  color: #fff;
  background-color: #912424;
  padding: 5px;
  border-radius: 20px;
}

.menu{
  padding-right: 20px;
}

.menu span a{
  padding: 5px 20px;
  margin: 0px 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  background-color: #912424;
  border-radius: 10px;
}

.menu span a:hover{
  background-color: #fff;
  color: rgb(39, 39, 39);
}

.login a{
  color: #fff;
  font-size: 20px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

body{
  height: 100%;
}

main{
  display: flex;
  height: 100vh;
}

nav{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
  background-color:#912424;
  height: 100vh;
  width: 300px;
  padding-top: 100px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
  float: left;
}

ul{
  list-style: none;
}

a{
  position: relative;
  display: block;
  padding: 25px 10px;
  color: #fff;
  text-decoration: none;
}


section{
font-family: 'Montserrat', sans-serif, bold;
font-size: 20px;
background-color: #ffffff;
height: 100vh;
width: 1200px;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
float: left;
}

.subtitulo{
  font-size: 15px;
}

.agendar{
  font-weight: bold;
}

.agendados{
  font-weight: bold;
}

footer{
  font-family: 'Imperial Script', sans-serif;
  font-size: 4vh;
  position: absolute;
  text-align: end;
  padding: 0 10px;
  width: 100%;
  height: 10vh;
  background-color: #912424;
  color: #fff; 
  box-sizing: border-box;
}
