@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #912424;
}

.logo p a{
  text-decoration: none;
  font-weight: bold;
  font-family: 'Imperial Script', sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  color: #fff;
  background-color: #912424;
  padding: 5px;
  border-radius: 20px;
}

.menu{
  padding-right: 20px;
}

.menu span a{
  padding: 5px 20px;
  margin: 0px 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  background-color: #912424;
  border-radius: 10px;
}

.menu span a:hover{
  background-color: #fff;
  color: rgb(39, 39, 39);
}

.login a{
  color: #fff;
  font-size: 20px;
}


main{
  width: 100%;
  display: flex;
}

.container1{
  width: 100%;
}
.image1{
  width: 100%;
  height: 300px;
  filter: grayscale(100%);
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle1{
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.container1:hover .image1 {
  opacity: 0.8;
}
.container1:hover .middle1 {
  opacity: 1;
}
.link1{
  position: absolute;
  bottom: 10px;
  right: -50px;
  text-decoration: none;
  background-color: #e6c11e;
  color: #0a0a07;
  padding: 8px 15px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}


.container2{
  width: 100%;
}
.image2{
  width: 100%;
  height: 300px;
  filter: grayscale(100%);
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle2{
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.container2:hover .image2 {
  opacity: 0.8;
}
.container2:hover .middle2 {
  opacity: 1;
}
.link2{
  position: absolute;
  bottom: 10px;
  right: -60px;
  text-decoration: none;
  background-color: #e6c11e;
  color: #0a0a07;
  padding: 8px 15px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.container3{
  width: 100%;
}
.image3{
  width: 100%;
  height: 300px;
  filter: grayscale(100%);
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle3{
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.container3:hover .image3 {
  opacity: 0.8;
}
.container3:hover .middle3 {
  opacity: 1;
}
.link3{
  position: absolute;
  bottom: 10px;
  right: -60px;
  text-decoration: none;
  background-color: #e6c11e;
  color: #0a0a07;
  padding: 8px 15px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

a:link {
    color: rgb(224, 222, 222);
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
  }

nav{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color:#912424;
    height: 700px;
    width: 195px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffffff;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

section{
  font-family: 'Montserrat', sans-serif, bold;
  font-size: 30px;
  background-color: #ffffff;
  height: 700px;
  width: 1600px;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  float: left;
}
.pesquisa{
  font-weight: bold;
}

.container4{
  height: 240px;
  width: 270px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 60px;
  margin-bottom: 15px;
  float: left;
  display: flex;
  align-items: center;
}

.image4{
  height: 100%;
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
}

.image5{
  height: 100%;
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
}

.image6{
  height: 100%;
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
}

.image7{
  height: 100%;
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
}

.container5{
  font-family: 'Montserrat', sans-serif, bold;
  font-size: 25px;
  color: #0a0a07;
  margin-top: 0px;
  margin-left: 70px;
  margin-right: 60px;
  margin-bottom: 0px;
  float: left;
}

footer{
    font-family: 'Imperial Script';
    font-size: 40px;
    color: #fff;
    background-color:#912424;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    float: left;
}

