@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    background-color: #912424;
    color: #fff;
}

h1.logo {
    font-family: 'Imperial Script';
    font-size: 75px;
    padding: 3px;
}

button{
    background-color: #912424;
    cursor: pointer;
    color: #fff;
    border: none;
}

section.status-est{
    display: flex;
    background-color: #912424;
    align-items: center;
    color: #fff;
    padding: 10px 10px;
}

button.aberto{
    width: 75px;
    height: 5vh;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

button.aberto:hover,
button.aberto:focus {
    background: #1ed93d;
    transition: background 1s;
    border-radius: 10px;
}

button.fechado{
    width: 75px;
    height: 5vh;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

button.fechado:hover,
button.fechado:focus {
    background: #0b6ddd;
    transition: background 1s;
    border-radius: 10px;
}

nav.barraLateral{
    padding-left: 15px;
    width: 20%;
    height: 100vh;
    background-color: #912424;
}

a{
    display: block;
    padding: 25px 10px;
    color: #fff;
    
}

footer{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 10vh;
    background-color: #912424;
    color: #fff; 
}

.Slogan{
    font-family: 'Imperial Script';
    font-size: 30px;
}