@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

header {
    width: 100vh;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    background-color: #912424;
    color: #fff;
    box-sizing: border-box;
}

input{
    border-radius: 10px;
    font-weight: bold;
    background-color: #e4e3e3;
}

button{
    background-color: #912424;
    cursor: pointer;
    color: #fff;
    border: none;
    width: 75px;
    height: 5vh;
    border-radius: 10px;
    font-weight: bold;
}
 
main{
    display: flex;
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    position: relative;
    display: block;
    padding: 25px 10px;
    color: #fff;
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px 0;
}

footer{
    position: absolute;
    text-align: end;
    padding: 0 10px;
    width: 100vh;
    height: 10vh;
    background-color: #912424;
    color: #fff; 
    box-sizing: border-box;
}

.agendaContainer{
    padding: 0 10px;
}

#data, .agendaTittle{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    padding: 10% 0 0 15%;
}

.submitButtons{
    padding: 5px 10px;
    align-items: center;
}

.confirm:hover,
.confirm:focus {
    background: #1ed93d;
    transition: background 1s;
}
.markdown:hover,
.markdown:focus {
    background: #0b6ddd;
    transition: background 1s;
}
.absence:hover,
.absence:focus {
    background: #ac1a1a;
    transition: background 1s;
}

a:focus, a:hover{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 0 5px #ac1a1a; 
    border-radius: 10px;
    transform: skew(-10deg);
}

.logo {
    font-size: 75px;
    padding: 3px;
    font-family: 'Imperial Script';
}
.barraLateral{
    display: flex;
    flex-direction: column;
    background-color: #912424;
    align-items: center;
    color: #fff;
    width: 17%;
    padding: 10px 10px;
}

.open:hover,
.open:focus {
    background: #1ed93d;
    transition: background 1s;
}

.close:hover,
.close:focus {
    background: #0b6ddd;
    transition: background 1s;
}

.Slogan{
    font-family: 'Imperial Script';
    font-size: 30px;
}