input{
    border-radius: 3px;
    
}
select{
    width: 105px;
    border-radius: 3px;
    background: transparent;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 100vh;
    line-height: 4vh;
    margin-left: 2.5em;
    margin-bottom: auto;
}

.row {
    display: flex;
    margin-bottom: 1em;
}

.row label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

input::placeholder{
    color: #4e4c4c
}

.field_prop {
    margin-left: 2em;
    float:  left;
    margin-right: 1em;
}

.field_prop input[type="text"],
.field_prop input[type="email"],
.field_prop input[type="number"],
.field_prop input[type="tel"],
.field_prop input[type="password"],
.field_prop input[type="date"],
.field_prop select,
.field_prop textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.field_prop select option {
    padding-right: 1em;
}

.field_prop input:focus, 
.field_prop select:focus, 
.field_prop textarea:focus {
    background: #efefef;
}

.field_prop input[name="email"],
.field_prop input[name="rSocial"],
.field_prop input[name="logradouro"],
.field_prop input[name="name"],
.field_prop input[name="bairro"]
{
    width: 400px;
}

.field_prop input[name="cnpj"],
.field_prop input[name="tel"],
.field_prop input[name="rg"],
.field_prop input[name="cpf"],
.field_prop input[name="nascimento"],
.field_prop input[name="password"],
.field_prop input[name="password_validate"],
.field_prop input[name="nFantasia"]
{
    width: 250px;
}

.field_prop input[name="number"],
.field_prop input[name="comp"],
.field_prop input[name="cep"],
.field_prop input[name="city"]
{
    width: 175px;
}
