.view_container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.agenda {
    display: flex;
}
.main {
    display: flex;
    flex-direction: column;
}

.grid_flex {
    display: flex;
}