.view_container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
}

.grid_flex {
    display: flex;
}

.agenda {
    display: flex;   
}

.calendario {
    height: 50vh;
}