.btn_open {
    background-color: transparent;
    border-style: none;
    margin-top: 20px;
    width: 200px;
    height: 50px;
}

.btn_open:hover , .btn_open:focus{
    color: #ffffff;
    background-color: #2bb81e;
    border: none;
}

