.container {
    display: flex;
    justify-content: center;
    background-color:#fff;
    margin-left: 3rem;
}

.main {
    display: flex;
    padding-right: 10rem;
}

.props {
    padding: 0 2rem;
    border-radius: 2rem;
    min-width: 70%;
    width: auto;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 2px 2px #252525;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #efefefef;
}

.props h2 {
    text-align: center;
}

.props label {
    text-align: center;
    line-height: 2rem;
}

.props input, .props select {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 25rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.btnConfig{
    display: block;
    text-align: center;
    background-color: transparent;
    border: 2.5px solid #912424;
    box-shadow: 2px 2px 2px #666666;
    transition: 0.30s;
    color: #181818;
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

.btnConfig:hover , .btnConfig:focus{
    color: #ffffff;
    background-color: #912424;
}

input::placeholder {
    font-style: italic;
    color: #242525;
  }