input::placeholder{
    color: #4e4c4c
}

.container {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    max-width: 100%;
}

.row_block {
    margin-bottom: 5px;
}

.row_block label {
    margin-bottom: 0.2em;
    color: #242424;
    display: block;
}

.row_block input[type="text"],
.row_block select,
.row_block textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.row_block textarea {
    width: 300px;
    height: 30vh;
}

.radio_prop {
    display: flex;
}

.radio_prop input + label::before {
    background-color: #ffffff;
    border: 1.5px solid #000000
}