.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

img {
    margin: 5px;
    size: 100px;
}

.loginEmpresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.loginEmpresa span {
    color: #79808c;
    margin: 5px;
    border:;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;

}

.form-group input {
    border-radius: 5px;
    background: none;
    background-color: white;    
    font-size: 17px;
    padding: 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #f29696;
    margin: 10px 0;
}

span {
    margin-top: 2rem;
    margin-bottom: 5px;
}

