.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

img {
  margin: 5px;
  size: 100px;
}

.loginEmpresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.loginEmpresa span {
  color: #79808c;
  margin: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;

}

.form-group input {
  border-radius: 5px;
  background: none;
  background-color: white;    
  font-size: 17px;
  padding: 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f29696;
  margin: 10px 0;
}

span {
  margin-top: 2rem;
  margin-bottom: 5px;
}

.botaoCadastro a {
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #a6a2a2;
  width: 7em;

}

.botaoCadastro a:hover {
background-color: #fff;
color: rgb(39, 39, 39);
border: 1px solid #a6a2a2;
box-shadow: -4px 4px 10px grey;
}

.Container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}